.main-wrapper {
  padding-top: 83px;
  display: flex;
  flex-direction: column;

  .title {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (max-width: 768px) {
      justify-content: center;
      align-items: center;
      padding-left: 0;
    }

    b {
      font-family: 'Inter', sans-serif;
      color: #FFFFFF;
      font-weight: 500;
      font-size: 50px;
      line-height: 72px;
    }

    p {
      font-family: 'Inter', sans-serif;
      color: #CFCFCF;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      opacity: 90%;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 20px;

    @media (max-width: 450px) {
      justify-content: center;
      align-items: center;
    }


  }

}
