.single-playlist {
  border-radius: 10px;
  padding: 24px 0 24px 24px;
  display: flex;
  width: 100%;
  gap: 20px;
  background-color: rgba(105, 105, 105, 0.35);
  position: relative;
  cursor: pointer;

  @media (max-width: 450px) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }

  .single-image {
    background-color: #9B59B6;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }

    p {
      display: none;
    }
  }

  .single-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;

    h1 {
      font-family: 'Inter', sans-serif;
      color: #FFFFFF;
      margin: 0;
      padding: 0;
      font-weight: 500;
      line-height: 36px;
    }

    p {
      font-family: 'Inter', sans-serif;
      color: #CFCFCF;
      font-weight: 400;
      font-size: 16px;
      opacity: 90%;
    }

    .buttons {
      display: flex;
      gap: 20px;

      button {
        cursor: pointer;
        background-color: #9B59B6;
        color: white;
        border-radius: 8px;
        padding: 9px 28px;
        border: none;
        font-family: 'Inter', sans-serif;
      }
    }

    .edit-input {
      background-color: transparent;
      color: white;
      font-size: 18px;
      border: 1px solid #ccc;
      padding: 6px 12px;
      border-radius: 6px;
    }
  }
}
